@keyframes popupopen {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        width: 80%;
        height: 80%;
    }
}

*{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.content a {
    color: rgb(29, 134, 255);
}

.content a:active,.content   a:hover,.content  a:focus,.content  a:focus-visible,.content  a:focus-within,.content  a:target {
    color: rgb(28, 105, 192);
}

.content a:visited {
    color: rgb(219, 100, 255);
}

.content a:visited:active,.content   a:visited:hover,.content  a:visited:focus,.content  a:visited:focus-visible,.content  a:visited:focus-within,.content  a:visited:target {
    color: rgb(208, 52, 255);
}

html {
    background-image: url(./tile.png);
    background-color: #34363e;
    margin-left: 3px;
    margin-right: 3px;
}

.navbar {
    min-width: 525px;
    display: block;
    position: relative;
    max-width: 900px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    width: 100%;
    margin: 5px auto;
    margin-bottom: 8px;
    height: 33px;
    background-color: black;
    -khtml-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -ms-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -o-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
}

.logo {
    max-width: 600px;
    min-width: 525px;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5px;
}

button {
    background: none;
    border: none;
    cursor: pointer
}

html.x360 .content {padding: 0px;}

.content {
    color: white;
    display: block;
    max-width: 898px;
    min-width: 523px;
    margin: 5px auto;
    margin-top: -9px;
    z-index: -3;
    background: black;
    background-color: #000000;
    border-width: 1px;
    border-style: solid;
    /* border-color: white; */
    -khtml-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -khtml-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -ms-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
}

.footer {
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 724px;
    min-width: 585px;
    margin: 5px auto;
    margin-top: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.container {
    display: table;
    width: 100%;
    height: 30px;
    table-layout: fixed;
}

.popup {
    position: absolute;
    background: linear-gradient(0deg, #181818, #272727);
    left: 10%;
    width: 80%;
    vertical-align: middle;
    height: 80%;
    top: 50%;
    margin-top: -40%;
    animation-name: popupopen;
    animation-duration: 0.5s;
}

.popupcontainer {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20;
}

.contentcontainer {
    padding: 8px;
}

html.x360 .contentcontainer {
    padding: 0px;
}

.container tr td a,
.container tr td button {
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

.container tr td a {
    width: 33.3333333333%;
}

.container tr td button {
    width: 100%;
}
.container td, .container td, .container td{
    background-image: url(./darkheader.png);
}

.container td:hover, .container td:active, .container td:focus{
    background-image: url(./lightheader.png);
}

.winxp:hover, .winxp:focus, .winxp:active, .winxp.selected {
    color: rgb(206, 90, 90);
}

.ios:hover, .ios:focus, .ios:active, .ios.selected {
    color: rgb(108, 159, 230);
}

.xbox:hover, .xbox:focus, .xbox:active, .xbox.selected {
    color: rgb(10, 177, 66);
}

.container tr td a img,
.container tr td button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    cursor: pointer;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px !important;
}

.biglogo {
    width: 714px;
}

.osmenu {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    border: none;
    z-index: 99;
}

.osmenuclosed {
    width: 1px;
    height: 1px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    border: none;
    z-index: -99;
}
