@keyframes popupopen {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        width: 80%;
        height: 80%;
    }
}

*{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

html {
    background-image: url(./tile.png);
    background-color: #34363e;
}

.navbar {
    display: block;
    width: 100%;
    height: 50px;
    background-color: black;
    background-image: url(./darkheader.png);
    -khtml-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -ms-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -o-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 9px;
}

html.x360 .content {padding: 0px;}

.content {
    color: white;
    display: block;
    max-width: 724px;
    margin: 5px auto;
    margin-top: 10px;
    background: black;
    background-color: rgba(0, 0, 0, 0.439);
    border-width: 1px;
    border-style: solid;
    /* border-color: white; */
    -khtml-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -ms-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.439) 0 2px 3px;
}

.footer {
    color: white;
    display: block;
    text-align: center;
    width: 724px;
    max-width: 724px;
    margin: 5px auto;
    margin-top: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.container {
    margin: auto;
    display: table;
    width: 100%;
    max-width: 724px;
    height: 50px;
}

.popup {
    position: absolute;
    background: linear-gradient(0deg, #181818, #272727);
    left: 10%;
    width: 80%;
    vertical-align: middle;
    height: 80%;
    top: 50%;
    margin-top: -40%;
    animation-name: popupopen;
    animation-duration: 0.5s;
}

.popupcontainer {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20;
}

.contentcontainer {
    padding: 8px;
}

html.x360 .contentcontainer {
    padding: 0px;
}

.container a {
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

iframe {
    border: none;
    margin: 0px;
    margin-bottom: -3px;
    padding: 0px;
    aspect-ratio: 16 / 9;
    width: 100%;
    min-width: 532px;
}

.winxp:hover, .winxp:focus, .winxp:active, .winxp.selected {
    color: rgb(206, 90, 90);
}

.ios:hover, .ios:focus, .ios:active, .ios.selected {
    color: rgb(108, 159, 230);
}

.xbox:hover, .xbox:focus, .xbox:active, .xbox.selected {
    color: rgb(10, 177, 66);
}

.container a img {
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.logo img {
    height: 40px !important;
    vertical-align: middle;
}

.biglogo {
    width: 714px;
}